@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html {
  scroll-behavior: smooth;
}

/* Body text */
* {
  font-family: 'Inter', sans-serif;
}

/* Headlines */
h1, h2, h3, h4, h5, h6, .font-headline {
  font-family: 'Plus Jakarta Sans', sans-serif;
}